body {
  background-color: pink;
}

#game-title {
  text-align: center;
}

#gameStatsTable-cont {
  h5,
  p {
    text-align: center;
  }

  .table-col {
    border-style: solid;
  }
}

.card {
  margin: 2px;
  padding: 2% 4%;
  text-align: center;
  border-radius: 8px;
  border-width: 4px;
  border-color: transparent;
  animation: flipInY;
  animation-duration: 1s;
}

.select-card-border {
  border-color: blue;
}
