body {
  background-color: pink;
}

#game-title {
  text-align: center;
}

#gameStatsTable-cont {
  h5,
  p {
    text-align: center;
  }

  .table-col {
    border-style: solid;
  }
}

.card {
  margin: 2px;
  text-align: center;
  border-radius: 8px;
  border-width: 4px;
  border-color: transparent;
}

.select-card-border {
  border-color: blue;
}

.card-img {
  border-color: transparent !important;
  border-width: 2px !important;
}

.select-card-img-border {
  border-color: blue !important;
}

// to remove display
.remove-display {
  display: none;
}
