<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- My own css -->
    <link rel="stylesheet" href="/login.css" />

    <title>Updown</title>
  </head>
  <body>
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 border rounded" id="form-container">
          <h5>Updown</h5>
          
          <h4>Register</h4>

          <!-- invalid message if there is -->
          <% if(locals.invalidUsernameMsg) { %>
            <p id="invalid-message"><%= invalidUsernameMsg %></p>
          <% } %>

          <form action="/register" method="POST">            
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" id="password" name="password" class="form-control" placeholder="Min 5 characters" minlength="5" required />
            </div>          

            <input type="submit" value="Register" class="btn btn-primary" />
          </form>
          <hr />
          <a href="/login">login instead</a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

