html {
  height: 100vh;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/hand-size-table-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}

#form-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  border-color: rgb(0, 183, 255) !important;
}

.form-group,
p,
a {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: red;
}

h4,
h5 {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-left: 10px;
}

/* for bootstrap col-sm */
@media (min-width: 576px) {
}

/* for bootstrap col-md */
@media (min-width: 768px) {
}

/* for bootstrap col-lg */
@media (min-width: 992px) {
  #form-container {
    width: 900px;
  }
}

/* for bootstrap col-xl */
@media (min-width: 1200px) {
}
